<div id="projectTable">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="header-dark">
                <th>Name</th>
                <th>Client</th>
                <th>Status</th>
                <th>Type</th>
                <th>Lead</th>
                <th>Budget</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.client.name }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.project_lead }}</td>
                <td>{{ project.budget }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary"
                            hx-get="{% url 'edit_project' project.id %}"
                            hx-target="#projectModalBody"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#projectModal">
                        Edit
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>